@import './_variables.scss';

.navbar {
    @include flex_center(column);
    background-color: transparent;
    border-bottom: solid 1px $Grey;
    position: absolute !important;
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;

    .navbar-brand {
        margin-right: 0;
        font-size: 1.80rem;
        transition: 0.8s;

        &:hover {
            letter-spacing: .2rem;
            transition: 0.8s;
            margin-bottom: 0;
        }
    }

    .icons {
        margin-left: 10px;
    }

    .icon_contain {
        width: 45vw;
    }

    #navbarScroll {
        justify-content: flex-end;
        margin-right: 10px;
    }

    #Toggle_button {
        margin-right: 1vw;
        margin-left: 5vw;
    }

    .navbar-nav-scroll {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

}

/* Media Query */

@media (max-width: 991px) {
    .icon_contain {
        width: 15vw !important;
    }
}

@media (max-width: 680px) {

    .Banner {

        p,
        h1 {
            font-size: x-large;
        }

        a button {
            font-size: medium;
            padding: 10px 10px;
        }
    }
}

@media (max-width: 565px) {
    .icon_contain {
        width: 20vw !important;
    }

    .Banner {

        p,
        h1 {
            font-size: large;
        }

        a button {
            font-size: small;
            padding: 10px 10px;
        }
    }
}

@media (max-width: 425px) {
    .icon_contain {
        width: 25vw !important;
    }

    .Banner {

        p,
        h1 {
            font-size: medium;
        }

        a button {
            font-size: small;
            padding: 10px 10px;
        }
    }
}

@media (max-width: 340px) {
    .icon_contain {
        width: 30vw !important;
    }
}