/* ///// Cores ///// */

$Black: #000;
$Shadow: #00000070;
$Matte_black: #1E1E1E;
$White: #fff;
//$White: #E8DEFF;
$Grey: #a9a9a9;
$Light_gray: #ccc;


/* ///// Mixins ///// */
@mixin flex_center($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}